@model PayOn.Examples.Models.PaymentViewModel

@{
    ViewData["Title"] = "3D Secure Payment Example";
}

<h1>3D-Secure</h1>
<p>Simulate an once-off payment for a 3D Secure registered card. Non-registered cards will fail.</p>
@using (Html.BeginForm("ThreeDSecure", "Home", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Payment Details</th>
        </tr>
        <tr>
            <td>Amount: </td>
            <td>
                @Html.TextBoxFor(m => m.Amount)
            </td>
        </tr>
        <tr>
            <td>Currency: </td>
            <td>
                @Html.TextBoxFor(m => m.Currency)
            </td>
        </tr>
        <tr>
            <td>Payment Brand: </td>
            <td>
                @Html.TextBoxFor(m => m.PaymentBrand)
            </td>
        </tr>
        <tr>
            <td>Card Number: </td>
            <td>
                @Html.TextBoxFor(m => m.CardNumber)
            </td>
        </tr>
        <tr>
            <td>Card Holder: </td>
            <td>
                @Html.TextBoxFor(m => m.CardHolder)
            </td>
        </tr>
        <tr>
            <td>Card Expiry Month: </td>
            <td>
                @Html.TextBoxFor(m => m.CardExpiryMonth)
            </td>
        </tr>
        <tr>
            <td>Card Expiry Year: </td>
            <td>
                @Html.TextBoxFor(m => m.CardExpiryYear)
            </td>
        </tr>
        <tr>
            <td>Card Cvv: </td>
            <td>
                @Html.TextBoxFor(m => m.CardCvv)
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}
<br />
<br />
<p>@Model.Status</p>